extends layout

block content
  .container
    br
    br
    h1 Hello World
    br
    p.pull-right by 
      a(href='http://aquaplouf.mooo.com/') Vincent de RIBOU 
      | VmluY2VudCBkZSBSSUJPVSA8di5kZXJpYm91QGdtYWlsLmNvbT4=
